.style-bar {
  background-color: #d9f2e2;
  border: none;
  border-radius: 20px;
  width: 130%;
  height: 80%;
  padding: 5px;
  border: 1px;
  border-style: solid;
  border-color: #296f45;
  padding: 7px;
  color: #296f45;
}

.search-bar {
  margin-right: 100px
}
